<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

img {
	border: 1px solid #ccc;
	width: 300px;
	height: 200px;
	
	/* float: left; */
	float: right;
	
	margin: 10px
}

/* 적용되지 않는다  */
p:nth-child(2) {
clear: both;	
}



</style>

</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="미니언" src="../resources/image/img123.jpg">
<p>가슴에 어디 소금이라 착목한는 소리다.이것은 군영과 수 불어 사람은 것이다.</p>
<p style="clear: both">무엇이 살았으며, 그것을 가장 아니다. 뼈 아니한 인생을 속에 기관과 새 내는 원대하고,</p>
<p>보배를 때문이다. 가치를 별과 돋고, 없으면 용감하고 힘있다. 그들의 시들어 같으며,</p>

<p>가슴에 어디 소금이라 착목한는 소리다.이것은 군영과 수 불어 사람은 것이다.</p>
<p>무엇이 살았으며, 그것을 가장 아니다. 뼈 아니한 인생을 속에 기관과 새 내는 원대하고,</p>
<p>보배를 때문이다. 가치를 별과 돋고, 없으면 용감하고 힘있다. 그들의 시들어 같으며,</p>


</body>
</html>