<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div {
	width: 200px;
	height: 100px;
}

#div1 {
	border: 1px solid red;
	float: left;
}

#div2 {
	border: 1px solid green;
	float: right;
}

#div3 {
	border: 1px solid blue;
	
}

.clearfix{
	clear: both;
	
	
	/* 컨텐츠 영역 제거하기 */
	width: 0;
	height: 0;
	overflow: hidden;
}


</style>

</head>
<body>

<h1>float속성을 적용해보기</h1>
<hr>

<div id="div1">DIV1</div>

<div id="div2">DIV2</div>

<div class="clearfix">saaasdasdadsa</div>

<div id="div3">DIV3</div>

</body>
</html>