<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

span {
	/* 인라인 요소에 테두리 적용하면 꼭 확인해볼 것! */
	border: 1px solid red;	
	
	/* 줄 높이, 줄 간격 */
	line-height: 1.75em;
	
	/* 너비, 높이 적용되지 않는다 */
	width: 1000px;
	height: 1000px;		
	
	/* 내부 여백은 콘텐츠(글자)를 감싸는 영역이 된다 */
	/* 인접한 다른 인라인 영역을 침범할 수 있다 */
	background-color: #f99;
	padding: 5px;
	
 	/* 상하 외부 여백이 없다 */
	margin: 10px;
	
	/* 글자 크기 */
	font-size: 30px;
	
	
}

</style>

</head>
<body>

<div>
	<span>span1</span>
	<span>span2</span>
	<span>span3span3span3 span3span3span3span3</span>
	<span>인간에 그들의 노래하며 것이다. 목숨이 살 있는 것은 일월과 돋고, 있음으로써 듣는다. 같은 돋고, 있는 투명하되 예수는 아니다. 이상 사는가 끝까지 청춘이 구하기 대고, 두손을 것이다.</span>

</div>

</body>
</html>