<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

header, footer {
	text-align: center;
	background-color: beige;
	
	padding: 10px 0;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.content {
	position: relative;
	
	height: 800px;
	
}

.content div[class^='content'] {
	position: absolute;
}

.content-left {
	width: 68%;
	
	left: 0;
}

.content-right {
	width: 28%;
	
	right: 0;
}

</style>

</head>
<body>

<!-- <div> -->
<!-- 	<h1>POSTION 테스트</h1> -->
<!-- 	<h3>relative, absolute 이용한 화면 분할</h3> -->
<!-- </div> -->

<header>
	<h1>POSTION 테스트</h1>
	<h3>relative, absolute 이용한 화면 분할</h3>
</header>

<div class="wrapper">
	<main class="content">
		
		<div class="content-left">

			<h2>그것을 튼튼</h2>
		
			<p>그것을 튼튼하며, 현저하게 이상 두손을 용감하고 귀는 칼이다. 시들어 보내는 설레는 없으면, 뜨고, 그것을 들어 교향악이다. 청춘은 따뜻한 들어 무엇이 끝까지 천지는 남는 가는 청춘의 쓸쓸하랴? 방황하여도, 굳세게 영락과 그들의 이것이다. 일월과 얼음에 바로 사랑의 있는가? 예수는 어디 따뜻한 보이는 간에 것이다. 꽃 인생에 얼음이 않는 불러 청춘의 부패뿐이다. 바이며, 있음으로써 없으면 아니다. 하는 붙잡아 기관과 트고, 그들에게 노년에게서 할지니, 우리 이것이다. 있는 인류의 곳이 것이다.</p>

			<p>새가 우리 있을 황금시대를 풍부하게 인류의 시들어 힘있다. 온갖 싶이 품에 지혜는 청춘을 영원히 위하여, 인도하겠다는 있는가? 하였으며, 싹이 이상을 장식하는 이것이다. 이상의 투명하되 부패를 하는 사막이다. 것은 내는 풀이 인간이 가는 풍부하게 열락의 희망의 인간은 있다. 힘차게 보는 그와 약동하다. 영원히 불어 역사를 가치를 따뜻한 내려온 목숨이 싸인 약동하다. 심장은 주며, 붙잡아 아니다. 예수는 것은 있을 설산에서 위하여 눈에 위하여서, 바이며, 사막이다. 봄날의 가치를 무한한 꾸며 있으며, 사람은 교향악이다. 얼음 동력은 생생하며, 힘차게 맺어, 피어나는 끓는다.</p>

			<p>지혜는 심장은 동력은 풀이 긴지라 이것이다. 튼튼하며, 싶이 위하여, 것이다.보라, 기쁘며, 이상 가치를 예수는 것이다. 가슴이 행복스럽고 뜨고, 사랑의 것이다. 가슴에 유소년에게서 기쁘며, 실로 열락의 가치를 이상 주며, 옷을 이것이다. 부패를 장식하는 같은 몸이 싸인 그들의 있다. 따뜻한 이상은 인생을 물방아 방황하였으며, 놀이 황금시대의 약동하다. 끓는 열락의 스며들어 관현악이며, 넣는 이것이다. 밥을 바로 그들의 전인 인간의 대고, 때까지 것이다. 투명하되 얼마나 없으면 때문이다.</p>
		
		</div>
	
		<div class="content-right">
		
			<h2>이름을 계절</h2>
		
			<p>이름을 계절이 흙으로 아름다운 어머니, 옥 별들을 새워 잠, 거외다. 별 못 헤는 사람들의 별빛이 파란 이네들은 있습니다. 했던 패, 까닭이요, 써 계십니다. 노새, 언덕 나는 어머니, 하나에 슬퍼하는 계십니다. 풀이 아이들의 잔디가 이름자 무엇인지 별 마디씩 까닭입니다. 내일 별들을 파란 내 시인의 흙으로 별이 노새, 봅니다. 멀듯이, 시인의 내일 경, 이런 피어나듯이 언덕 하나에 거외다. 별빛이 이국 잔디가 까닭입니다. 동경과 아침이 멀리 별빛이 그리워 무성할 것은 흙으로 어머니 있습니다.</p>

			<p>어머니, 밤이 때 계십니다. 겨울이 것은 언덕 버리었습니다. 별 무성할 무덤 거외다. 그러나 이런 별 아이들의 있습니다. 시와 슬퍼하는 하나의 계절이 별을 이름을 멀리 계십니다. 내 별 사람들의 어머니, 봅니다. 지나가는 딴은 별 슬퍼하는 잠, 것은 있습니다. 이름자 언덕 별 아스라히 딴은 이름을 하나에 계십니다. 별들을 너무나 언덕 둘 된 다 남은 거외다.</p>

			<p>다하지 새워 사람들의 위에도 파란 까닭입니다. 차 언덕 북간도에 새워 그리고 다하지 이름자 밤이 거외다. 언덕 한 봄이 패, 슬퍼하는 있습니다. 내린 별에도 위에 가난한 헤일 까닭입니다. 흙으로 내린 벌써 슬퍼하는 소학교 별 멀듯이, 무엇인지 불러 버리었습니다. 나의 어머니 옥 봅니다. 것은 별 가득 라이너 헤는 별 까닭이요, 봅니다. 비둘기, 그리고 나는 듯합니다. 파란 이름자 아무 별 추억과 하나에 이름과 봅니다.</p>
			
		</div>
		
	</main>
</div>

<footer>
&copy; Lacuna.
</footer>

</body>
</html>